<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>PChome購物20週年特別企劃《未來清單》</title>
  <meta property="og:title" content="PChome購物20週年特別企劃《未來清單》">
  <meta property="og:description" content="台北市6小時到貨(試營運)，全台灣24小時到貨！" />
  <meta property="og:image" content="https://a.ecimg.tw/css/2016/style/images/v201607/sitelogo/h24.png">
  <link rel="apple-touch-icon" type="image/x-icon" href="https://e.ecimg.tw/img/icon/24-64x64.ico" sizes="64x64" />
  <link rel="icon" type="image/x-icon" href="https://e.ecimg.tw/img/icon/24-64x64.ico" sizes="64x64" />
  <link rel="icon" type="image/x-icon" href="https://e.ecimg.tw/img/icon/24-32x32.ico" sizes="32x32" />
  <link rel="icon" type="image/x-icon" href="https://e.ecimg.tw/img/icon/24-16x16.ico" sizes="16x16" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=0">


  <!-- CSS -->
  <!-- build:css css/lib.css -->
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="css/layout.css">
  <!-- endbuild -->


  <link rel="stylesheet" href="css/all.css">

  <!-- Google Tag Manager -->
  <script>
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      'site': '24h'
    });
    window.dataLayer && window.dataLayer.push({
      'event': 'custom.event.pageview'
    });
  </script>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TKSM5PF');
  </script>
  <!-- End Google Tag Manager -->


</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKSM5PF" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Header -->
  <ul class="container-fluid d-flex justify-content-center header" id="top">
    <li class="pc"><a href="https://24h.pchome.com.tw/"><img src="img/header_01.png"></a></li>
    <li class="pc"><a href="https://ecvip.pchome.com.tw/?m=myaccount&f=show24hHelp"><img src="img/header_02.png"></a>
    </li>
    <li class="pc note"><a href="https://ecvip.pchome.com.tw/?m=myaccount&f=show24hHelp">例外及說明</a></li>
    <li class="pc appDonload"><span>APP下載</span>
      <div class="appQRcode"><a href="https://24h.m.pchome.com.tw/appget.php" target="_blank"><img
            src="img/QRCode.png"></a></div>
    </li>
    <li class="pc social">
      追蹤我們
    </li>
    <li class="pc icons">
      <a href="https://www.facebook.com/pchome24h/" target="_blank"><img src="img/fb_new.svg"></a>
      <a href="https://www.instagram.com/pchome24h/" target="_blank"><img src="img/ig_new.svg"></a>
      <a href="https://line.me/R/ti/p/@pchome24h" target="_blank"><img src="img/line_new.svg"></a>
    </li>
    <li class="d-flex mb">
      <a class="d-flex align-items-center" href="https://24h.m.pchome.com.tw/"><img src="img/24HLOGO.png"
          class="logo"></a>
    </li>
  </ul>
  <!-- END // Header -->

  <!-- 右側選單 (手機置頂) -->
  <div class="right_menu d-flex align-items-end flex-column">
    <div class="arrow_box"><span class="arrow arRight"></span></div>
    <ul class="menu_box radius_M">
      <li><a href="#section-teaser">預告片</a></li>
      <li><a href="#section-episode">未來清單</a></li>
      <li><a href="#section-cast">主角介紹</a></li>
      <li><a href="#section-director">導演介紹</a></li>
      <li><a href="#section-behind">幕後直擊</a></li>
      <li><a href="#section-products">商品推薦</a></li>
      <li class="banner"><a href="1113"><img src="img/demo.jpg"> </a></li>
      <li class="gotop"><a href="#top"><span class="arrow arUp"></span>TOP</a></li>
    </ul>
  </div>
  <div class="gotopMB">
    <a href="#top"><span class="arrow arUp"></span>TOP</a>
  </div>
  <!-- END // 右側選單 -->




  <!-- navbar -->
  <% include conponents/header %>
  <!-- navbar END -->

  <!-- contents -->
  <%- contents %>
  <!-- contents END -->


  <div class="d-flex justify-content-center d-flex align-items-center card_note">
    <div class="left">謹慎理財　信用至上</div>
    <ul class="right">
      <li>花旗信用卡循環利率：6.88%~15%循環利率基準日為104年9月1日；預借現金手續費：</li>
      <li>預借現金金額乘以3.5%加上新臺幣100元其他費用請上花旗網站www.citibank.com.tw查詢。</li>
    </ul>
  </div>

  <!-- Footer -->
  <div class="footer">
    <ul class="d-flex justify-content-center align-items-center mb-3">
      <li class="text">追蹤我們</li>
      <li><a href="https://www.facebook.com/pchome24h/" target="_blank"><img src="img/fb_new.svg"></a></li>
      <li><a href="https://www.instagram.com/pchome24h/" target="_blank"><img src="img/ig_new.svg"></a></li>
      <li><a href="https://line.me/R/ti/p/@pchome24h" target="_blank"><img src="img/line_new.svg"></a></li>
    </ul>
    <p>本活動頁商品規格、顏色、價位、贈品如與銷售網頁不符，以銷售網頁標示為準！</p>
    <p>網路家庭版權所有Copyright PChome Online版權所有，轉載必究</p>
    <p>*PChome聯名卡活動期間至2019/12/31，相關優惠權益或服務之細節及限制條件請詳花旗官網或PChome線上購物。</p>
  </div>
  <!-- END // Footer -->




  <!-- build:js js/lib.js -->
  <script type="text/javascript" src="js/lib/jquery.min.js"></script>
  <script type="text/javascript" src="js/lib/fastclick.js"></script>
  <script type="text/javascript" src="js/lib/in-view.min.js"></script>
  <script type="text/javascript" src="js/pchome/common.js"></script>
  <!-- endbuild -->
  <!-- js -->
  <script src="js/all.js"></script>
  <!-- js END-->
</body>

</html>